extends layout

block css
  link(rel="stylesheet", href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/styles/github.min.css")
block js
  script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.8.0/highlight.min.js")
block content
  code.md #{code}
