md-content(layout-padding)
  form(name="$ctrl.input" ng-submit="$ctrl.submit()")
    div(layout="row")
      md-input-container.md-block(flex)
        label Markdown
        textarea(ng-model="$ctrl.code" row="8")
    div(layout="row")
      div(flex)
        md-button.md-raised.md-primary(ng-click="$ctrl.submit()") md2png
  div(layout="row" ng-if="$ctrl.result")
    img(ng-attr-src="data:image/png;base64,{{$ctrl.result}}")
